## Pandas usages

In [1]:
import pandas as pd
import numpy as np

Pandas uses data structures called Dataframes.
These are objects that are optimized for processing

In [2]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [ ]:
df.to_numpy()

In [ ]:
df.values

In [ ]:
# Pandas dataframe to numpy array:
print("Explicit conversion\n")
print(df.to_numpy())
print("\nImplicit conversion\n")
print(df.values)

In [ ]:
print(type(df.to_numpy()))
print(type(df.values))

In [ ]:
# Obtaining single column in dataframe:
print("First approach\n")
print(df['rating'])
print(type(df['rating']))
print("\nSecond approach\n")
print(df.rating)
print(type(df.rating))

In [ ]:
# Cannot access to positions on dataframes
df[0]

In [ ]:
df['rating']

In [ ]:
# Accessing to a series position
print(df['rating'][3])

In [ ]:
df

In [ ]:
# Setting an index
print(df.set_index('brand'))

In [ ]:
print(df.set_index('brand')['style'][0])
print("-------------------------------------------")
print(df.set_index('brand')['style']['Indomie'])

In [ ]:
df

In [ ]:
# Getting a subdataframe from a dataframe
print(df[['style', 'rating']])
print(type(df[['style', 'rating']]))

In [6]:
# Notice that the dataframe hasn't change
print(df.columns)
print(type(df.columns))

pandas.core.indexes.base.Index

In [ ]:
df

In [ ]:
# Get dataframe column index
print(df.columns.get_loc('style'))
print(df.columns.get_loc('rating'))

In [ ]:
# Obtaining full information of dataframe
df.info()

In [ ]:
# Obtaining specific information of dataframe

print("Rows in df: {}".format(len(df)))
print("Columns in df: {}".format(len(df.columns)))
print("Column names in df: {}".format(df.columns))
print(type(df.columns))
print("Column names in df 2 version:\n  {}".format(df.columns.values))

In [ ]:
# Inserting column at given index with zeros
c_idx = df.columns.get_loc('style')
rows = len(df)
newDf = df.insert(loc = c_idx + 1, column = "Hitch", value = [0] * rows)  # This modifies original
print(newDf)

In [ ]:
df

In [ ]:
# Deleting a column in dataframe

df.drop(columns=['Hitch'])  # This creates a copy

In [ ]:
df

In [ ]:
df = df.drop(columns=['Hitch'])

In [ ]:
df

In [ ]:
df['Hitch'] = 0
df

In [ ]:
# Intersection of two dataframes
P = pd.DataFrame ({"name":["Elizabeth","Darcy", "Andy"],
        "email":["net@xyz.com","cy@acmecorpus.com", "andy@email.com"],
        "aux":["ab", "cd", "zx"]})

S = pd.DataFrame ({"name":["Andy", "Bingley","Elizabeth"],
        "email": ["andy@email.com", "bingley@xyz.com","bennet@xyz.com"],
        "aux":["zx", "ef", "ab"]})
print("P:\n{}".format(P))
print("\nS:\n{}".format(S))

In [ ]:
inter = pd.merge(P, S, left_on='name', right_on='name')
print("Intersection 1:\n{}".format(inter))

In [ ]:
inter = pd.merge(P, S, left_on='name', right_on='name', suffixes=('_P', '_S'))
print("Intersection 1:\n{}".format(inter))

In [ ]:
inter = pd.merge(P, S, how='inner', on='name')
print("\nIntersection 2:\n{}".format(inter))

In [ ]:
inter = inter.sort_index(axis=1)
print(inter)

In [ ]:
df

In [ ]:
df['rating'] == 4

In [ ]:
print(type(df['rating'] == 4))

In [ ]:
df[df['rating'] == 4]

In [ ]:
df[~(df['rating'] != 4)]

In [ ]:
df

In [ ]:
print(df.duplicated())
print(df[df.duplicated()])

In [ ]:
print(~df.duplicated())
print(df[~df.duplicated()])

In [ ]:
print(df.duplicated(keep=False))
print(df[df.duplicated(keep=False)])

In [ ]:
df

In [ ]:
print(df.duplicated(keep='last', subset='Hitch'))
print(df[df.duplicated(keep='last', subset='Hitch')])

In [ ]:
# Preparing connection parameters
params = {
    "user" : 'devs_queries',
    "passw" : 'holbie_power',
    "ip" : '207.180.244.42',
    "db" : 'multi_scrapper',
    "port" : 3306,
}
engine = 'mysql+pymysql://{user}:{passw}@{ip}:{port}/{db}?charset=utf8mb4'.format(**params)

In [ ]:
# Setting some fields and the queries to get some data
q_fields = {
    "column" : "ROW_ID, URL",
    "table" : "product_details",
}
query = "SELECT {column} FROM {table} limit 50;"

In [ ]:
# Getting the query as a pandas dataframe
dataframe = pd.read_sql_query(query.format(**q_fields), con=engine)